<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.tiger-tech.pennant"
        versionCode = "10"
        version     = "1.0.0" >

    <name>Pennant</name>

    <description>
        Tiger Tech's Pennant Application
    </description>

    <author href="https://www.tiger-tech.org" email="support@tiger-tech.org">
        Tiger Tech
    </author>
    <icon src="icon.png"  width="48" height="48"/>

    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>

    <preference name="phonegap-version" value="3.4.0" />
    <preference name="orientation" value="portrait" />

    <access origin="*" subdomains="true"/>
</widget>
