<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "org.tiger-tech.pennant"
        versionCode = "10"
        version     = "1.0.0" >

    <name>Pennant</name>

    <description>
        Tiger Tech's Pennant Application
    </description>

    <author href="https://www.tiger-tech.org" email="support@tiger-tech.org">
        Tiger Tech
    </author>
    <icon src="icon.png"  width="48" height="48"/>

    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
    <gap:splash src="splash.png" />
    <gap:splash src="splash/ios/Default-568h@2x~iphone.png"  gap:platform="ios" width="640"  height="1136"  />
    <gap:splash src="splash/ios/Default.png"                 gap:platform="ios" width="320"  height="480"  />
    <gap:splash src="splash/ios/Default_at_2x.png"           gap:platform="ios" width="640"  height="960"  />
    <gap:splash src="splash/ios/Default_iphone5.png"         gap:platform="ios" width="640"  height="1136" />
    <gap:splash src="splash/ios/Default-Portrait.png"        gap:platform="ios" width="768"  height="1004" />
    <!-- retina iPad -->
    <gap:splash src="splash/ios/Default-Portrait_at_2x.png"  gap:platform="ios" width="1536" height="2008" />


    <preference name="phonegap-version" value="3.4.0" />
    <preference name="orientation" value="portrait" />

    <access origin="*" subdomains="true"/>
</widget>
