<header class="bar-title">
    <a href="#" class="button-prev">Back</a>
    <h1 class="title">Pennant</h1>
</header>

<div class="content">
    <ul class="list">
        <li data-ng-repeat="article in articles">
            <a href="#{{article.fullUrl}}">
                <div><img class="list_image" src="{{article.assetUrl}}"></div>
                <p class="article-title">{{article.title}}</p>
                <p class="article-author">{{article.author.displayName}}</p>
            </a>
        </li>
    </ul>
</div>