<header class="bar-title">
    <h1 class="title">Pennant</h1>
</header>

<div class="content">
    <ul class="list">
        <li class="list-divider">Categories</li>

        <li data-ng-repeat="category in categories">
            <a href="#/categories/{{category.name}}/articles">
                <div><img class="demoimg" src="img/{{category.image}}"></div>
                <strong>{{category.name}}</strong><br />
                <p>{{category.image}}</p>
                <p>{{category.id}}</p>
            </a>
        </li>
    </ul>
</div>